<div class="hide">
    <ul class="tasks-style"
        style="position: absolute; background-color: white; padding: 50px; margin-left: 450px; border-radius: 4px; z-index: 100;">
        <li>
            <h4>Assignment 1: CV </h4>
            <p>Create a CV using HTML and CSS.</p>
            <a onclick="handleCVclick()">Open Task</a>
        </li>
        <li>
            <h4>Assignment 2: E-Commerce Landing Page </h4>
            <p>Build a landing page with product showcase.</p>
            <a onclick="handleAss2click()">Open Task</a>
        </li>
        <li>
            <h4>Lab Task 1: Landing Page with Bootstrap</h4>
            <p>Add responsiveness and UI plugins.</p>
            <a onclick="handleTask1click()">Open Task</a>
        </li>
        <li>
            <h4>Lab Task 2: Checkout Page</h4>
            <p>Form validation with JS for a checkout experience.</p>
            <a onclick="handleTask2click()">Open Task</a>
        </li>
    </ul>
</div>
<div class="running-banner">
    <p>🔥 50% Off on All Items! Limited Time Only! 🔥</p>
</div>
<div>
    <div>
        <img src="/newlook/assets/sale.png" alt="sale" style="width: 100%;">
    </div>
    <div class="shop">
        <div class="shop-cat">
            <p>Shop men's</p>
        </div>
        <div class="shop-cat">
            <p>Shop girls'</p>
        </div>
    </div>
    <div style="margin-block: 2%;">
        <img src="/newlook/assets/chloe.png" alt="chloe" style="width: 100%;">
    </div>
</div>
<div class="shop-2-container">
    <div class="shop-2-item">
        <a href="/products?category=men">
            <img src="/newlook/assets/mens.jpeg" alt="Men's">
        </a>
    </div>
    <div class="shop-2-item">
        <a href="/products?category=girl">
            <img src="/newlook/assets/girls.jpeg" alt="Girls'">
        </a>
    </div>
    <div class="shop-2-item">
        <a href="/products?category=curves">
            <img src="/newlook/assets/curves.jpeg" alt="Curves">
        </a>
    </div>
    <div class="shop-2-item">
        <a href="/products?category=maternity">
            <img src="/newlook/assets/maternity.jpeg" alt="Maternity">
        </a>
    </div>
    <div class="shop-2-item">
        <a href="/products?category=petite">
            <img src="/newlook/assets/petite.jpeg" alt="Petite">
        </a>
    </div>
    <div class="shop-2-item">
        <a href="/products?category=tall">
            <img src="/newlook/assets/tall.jpeg" alt="Tall">
        </a>
    </div>
</div>

<div class="brands-container">
    <h2 style="text-align: center;">
        Trending Brands...
    </h2>
    <div class="brands-wrapper">
        <div class="brand-item"><img src="/newlook/assets/rise.jpeg" alt="Rise"></div>
        <div class="brand-item"><img src="/newlook/assets/appricot.png" alt="Chloe Lewis"></div>
        <div class="brand-item"><img src="/newlook/assets/loungeable.jpeg" alt="Loungeable"></div>
        <div class="brand-item"><img src="/newlook/assets/moda.png" alt="Moda Minx"></div>
        <div class="brand-item"><img src="/newlook/assets/wgirl.png" alt="Wkndgirl"></div>
        <div class="brand-item"><img src="/newlook/assets/gini.jpeg" alt="GINI London"></div>
        <div class="brand-item"><img src="/newlook/assets/cl.jpeg" alt="GINI London"></div>
        <div class="brand-item"><img src="/newlook/assets/pink.png" alt="GINI London"></div>
        <div class="brand-item"><img src="/newlook/assets/sbeach.jpeg" alt="GINI London"></div>
        <div class="brand-item"><img src="/newlook/assets/sdip.png" alt="GINI London"></div>
    </div>
</div>

<div><img src="/newlook/assets/1.jpeg" alt="example image" style="width: 100%;"></div>