<div class="footer">
    <div>
        <div>
            <h2 class="footer-heading">SIGN UP and get 25% OFF*</h2>
        </div>
        <div style="margin-inline: 22%;">
            <p style="text-align: center;">Sign up to our e-mails to be the first to hear about the latest trends
                new arrivals and exclusive
                offers. Available to customers opting in for the first time or returningto opt in; offer excludes
                third party branded, promotional and sale items.
                <br>
                You can unsubscribe at any time.
                <a>*T&Cs apply.</a>
            </p>
        </div>
        <div class="footer-signup">
            <div>
                <input type="text" placeholder="Email address" class="footer-input">
            </div>
            <div>
                <button class="signup_btn">Sign me up</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="footer-2nd">
        <div class="sec-1">
            <p>Help & Info</p>
            <ul>
                <li>Help center</li>
                <li>Delivery Collection</li>
                <li>Returns & refunds</li>
                <li>Gift cards</li>
                <li>Track your order</li>
                <li>Size guide</li>
                <li>Accessibility</li>
                <li>How we use your information</li>
            </ul>
        </div>
        <div class="sec-1">
            <p>Payments & Discounts</p>
            <ul>
                <li>Black Friday</li>
                <li>Payments & Discounts</li>
                <li>Promotions & discounts</li>
                <li>Gift cards</li>
                <li>Student discount</li>
                <li>Ways to pay</li>
            </ul>
        </div>
        <div class="sec-1">
            <p>About New Look</p>
            <ul>
                <li>Find a store</li>
                <li>About us</li>
                <li>Careers</li>
                <li>Sustainability</li>
                <li>Modern slavery statement</li>
            </ul>
        </div>
        <div class="sec-2">
            <h2>Be Social</h2>
            <p>Join the Conversation</p>
            <div class="social-icons">
                <img src="/newlook/assets/fb.png" alt="facebook">
                <img src="/newlook/assets/insta.png" alt="insta">
                <img src="/newlook/assets/pinterest.png" alt="pinterest">
                <img src="/newlook/assets/tweet.png" alt="tweet">
                <img src="/newlook/assets/yt.png" alt="youtube">
            </div>
        </div>
    </div>
    <hr style="margin: 0;">
    <div class="footer-3">
        <div class="footer-top">
            <span>🇬🇧 United Kingdom - £ - English</span>
        </div>

        <div class="payment-icons">
            <img src="/newlook/assets/amex.avif" alt="AMEX">
            <img src="/newlook/assets/visa.png" alt="VISA">
            <img src="/newlook/assets/mastercard.png" alt="MasterCard">
            <img src="/newlook/assets/paypal.png" alt="PayPal">
            <img src="/newlook/assets/klarna.png" alt="Klarna">
        </div>

        <p class="footer-text">
            The celebrities named or featured on NewLook.com have not endorsed, recommended, or approved the items
            offered
            on <a href="#">site</a> unless they are promoting their own brand.
        </p>

        <hr class="divider">

        <p class="footer-bottom">
            © 2025 New Look Retailers Limited |
            <a href="#">Terms & Conditions</a> |
            <a href="#">Privacy</a> |
            <a href="#">Security</a> |
            <a href="#">Cookies</a> |
            <a href="#">Site Map</a> |
            Company number: 01618428, Registered office address: New Look House, Mercery Road, Weymouth, Dorset, DT3
            5HJ
        </p>
    </div>
</div>