<div id="navbar">
    <div class="menu-first">
        <ul id="menu">
            <li style="background: red;" class="has-dropdown">Sale</li>
            <li class="has-dropdown">Women
                <div class="dropdown">
                    <ul>
                        <li>Clothing</li>
                        <li>Trending</li>
                        <li>Dresses</li>
                        <li>Shoes & Sandels</li>
                        <li>Brands</li>
                    </ul>
                </div>
            </li>
            <li class="has-dropdown">Girls<div class="dropdown">
                    <ul>
                        <li>Clothing</li>
                        <li>Dresses</li>
                        <li>Shoes & Sandels</li>
                    </ul>
                </div>
            </li>
            <li class="has-dropdown">Mens<div class="dropdown">
                    <ul>
                        <li>Clothing</li>
                        <li>Brands</li>
                    </ul>
                </div>
            </li>
            <li class="has-dropdown">Gift Cards<div class="dropdown">
                    <ul>
                        <li>Buy a Gift Card</li>
                    </ul>
                </div>
            </li>
            <li id="tasks" class="has-dropdown" onclick="displayMenu()">
                Tasks
            </li>
        </ul>
    </div>

    <div class="menu-second">
        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search">
            <img src="/newlook/assets/search_icon.png" alt="Search" class="search-icon">
        </div>
        <div>
            <img src="/newlook/assets/heart.png" alt="like" class="heart">
        </div>
        <div>
            <img src="/newlook/assets/shopping.png" alt="shopping" class="heart">

        </div>
    </div>
</div>