<div id="header">
    <div class="header_containers">
        <img class="header_icon" src="/newlook/assets/location-pin.png" alt="">
        <p class="header_txt">Find a Store</p>
    </div>
    <div>
        <img class="heading" src="/newlook/assets/heading.png" alt="">
    </div>
    <div class="header_containers">
        <p class="header_txt">Account</p>
        <img class="header_icon" src="/newlook/assets/user.png" alt="">
    </div>
</div>